{% extends 'base.html' %}

{% block content %}

<div class="row">
  <h1>Давайте познакомимся</h1>
  <p>
    Хоть мы пока ещё и не знакомы, вполне вероятно, нас связывает общий опыт - врождённый порок сердца и, возможно,
    операция на открытом сердце. Этот сайт и блог для тех, кто хочет оставаться активным и находить необходимый для
    этого баланс с учётом всех ограничений.
  </p>
  <p>
    С детства я занимался плаванием и даже выполнил 3-й взрослый разряд под руководством тренера и, по совместительству,
    мамы и Мастера спорта в плавании. Она же не хотела, чтобы мы с братом становились спортсменами из-за допинга и давления
    в этом виде спорта. Всё же, занятия спортом дисциплинируют, развивают характер, закаляют и дарят здоровье (?), поэтому
    каждый день проводили в бассейнах.
  </p>
  <p>
    На одном из очередных осмотров в спортдиспанцере у меня выявили врождённый порок сердца (двустворчатый аортальный клапан
    вместо трёхстворчатого) и запретели заниматься спортом. Рано или поздно меня ждала операция по замене клапана, но когда
    никто не мог сказать. Мне нужно было каждый год приходить на обследование к кардиологу.
  </p>
  <p>
    Это случилось в 15 лет. Впереди было поступление в институт, разгульная студенческая жизнь (никто её не запрещал, хотя
    и не поощряли)), первые походы, а за ними поход на Байкал и восхождение на Эльбрус(весьма скучное занятие, как по мне), первая
    серьёзная любовь и разочарование, которое и привело меня на скалолазный стенд.
  </p>
  <p>
    Не то, чтобы я не был тут раньше. Отец, по совместительству альпинист, спелеолог, велосипедист и пр., как-то приводил меня
    полазить. Но тогда это было страшно и не интересно. На этот раз меня зацепило по-серьёзному. Тренировки, после которых
    не можешь держать кружку, и магазины уже почти все закрыты, так что даже ананасов консервированных не купить на ужин.
    Первые поездки на скалы и отчаянные попытки пролезть 6с. Подъёмы в 5 утра, чтобы приготовить завтрак, разбудить напарника и
    успеть полазить на скалах возле моря, пока ещё не стало нестерпимо жарко...
  </p>
  <p>
    5 лет спустя у меня уже была жена-скалолазка, 1,5-годовалый сын, повидавший немало скал, несколько 8b в активе и предстоящая
    операция на открытом сердце 5 февраля 2018 года. Мне было 32 года, я себя хорошо чувствовал, но размер аневризмы аорты (около 5 см) и разница
    в систолическом и диастолическом давлении более 60 мм были прямыми показаниями к операции, пока меня ещё не нужно было спасать.
  </p>
  <p>
    Выбрав врача и тип клапана (механический OnX), я лёг в больницу на операцию. Да, с механическим клапаном всю жизнь придётся
    принимать антикоагулянты, но делать повторно ещё, как минимум, одну операцию со значительно более высоким риском для жизни -
    это не выбор. Современный клапан OnX позволяет уменьшить дозу антикоагулянтов, но всё ещё не понятно, насколько я смогу полазить
    не только прежние категории, а продолжать прогрессировать.
  </p>
  <p>
    Врачи, конечно же, настаивают на умеренных аэробных нагрузках для "здоровья сердца", но в жизни есть и другие смыслы, помимо
    здоровья. Мне повезло, что у нас есть знакомый кардиохирург, который также занимается альпинизмом и скалолазанием. Когда в очередной
    раз пропадает веря в возможность лазить, я обращаюсь к нему. По его словам, искусственный клапан в сердце сам по себе не должен
    стать препятствием лазить. Нужно избегать динамических движений и травматичных срывов, а в остальном я могу лазить "в своё удовольствие".
  </p>
  <p>
    Со своим кардиологом я "договорился", что начну лазить через полгода, то есть, почему-то эта дата была назначена на 1 сентября.
    Конечно же, за это время форма уйдёт, и тренироваться нужно будет начинать заново. Главное при этом, соблюдать постепенность и не
    форсировать события. И ещё сложней - сохранять позитивный настрой и оптимизм. Почти полгода спустя после операции я себя уже, в целом,
    нормально чувствую, и мне тяжело даже думать о скалолазании. Да и ощущения в теле не совсем те, что были до операции. Нет такой веры
    в своё тело, в то, что оно не откажет неожиданно в любой момент. Повторять опыт с операцией очень не хочется.
  </p>
  <p>
    Но, жизнь, конечно же, не ограничивается одним скалолазанием. Вначале я много играл в видео игры в свободное время, а потом загорелся
    идеей найти лучшее место для жизни для моей семьи, и стал очень много работать и учиться. Я благодарен, что современные технологии
    и мастерство врачей позволило мне жить дальше, и наши приключения продолжаются!
  </p>
  <br>
  <p>
    Посмотрим, что из этого всего выйдет!
  </p>
</div>

{% endblock %}
