{% extends 'base.html' %}

{% block content %}

<div class="row mb-3">
  <div class="post">
    <h1>{{ post.title }}</h1>
      {% if post.published_at %}
        <div class="date mb-3">
            {{ post.published_at }}
        </div>
      {% endif %}
      {% if post.created_by %}
        <div class="date mb-3">
            Автор: {{ post.created_by }}
        </div>
      {% endif %}
      {% if post.image %}
        <img class="w-25 float-left mr-3" src="{{post.image.url}}">
      {% endif %}
        <p>{{ post.text | safe }}</p>
    </div>
</div>

{% endblock %}
